.alert {
  background-color: var(--color-gray);
  color: white;
  padding: 2rem;
  border-radius: 5px;
}

.alert-secondary {
  background-color: lighten(#fe7700, 20%);
}

.alert-title {
  font-size: 1.6rem;
  margin: 0;
}

.alert-text {
  font-size: 1.4rem;
  margin: 0;
}
