.offers {
  text-align: center;
  position: relative;
  z-index: 2;
  margin: -40px 0 8rem;
  .container {
    max-width: 980px;
  }
}

.offers-filter {
  margin: 4rem 0 2rem;
  color: var(--color-text);
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  display: flex;
  align-items: center;
  .select {
    select {
      border: none;
      color: var(--color-primary);
    }
    label {
      display: none;
    }
  }
}

.offers-items {
  margin: 2rem 0 4rem;
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  grid-template-areas:
    "one one two"
    "three four five"
    "six seven seven"
    "eight nine ten"
    "eleven twelve thirteen";
}

.offers-item {
  width: 100%;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
  // height: 327px;
  height: 270px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  &:nth-child(1) {
    grid-area: one;
  }
  &:nth-child(2) {
    grid-area: two;
  }
  &:nth-child(3) {
    grid-area: three;
  }
  &:nth-child(4) {
    grid-area: four;
  }
  &:nth-child(5) {
    grid-area: five;
  }
  &:nth-child(6) {
    grid-area: six;
  }
  &:nth-child(7) {
    grid-area: seven;
  }
  &:nth-child(8) {
    grid-area: eight;
  }
  &:nth-child(8) {
    grid-area: nine;
  }
  &:nth-child(11) {
    grid-area: eleven;
  }
  &:nth-child(12) {
    grid-area: twelve;
  }
  &:nth-child(13) {
    grid-area: thirteen;
  }
}

.offers-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.offers-title {
  margin: 0;
  margin-bottom: 1rem;
  color: white;
  font-weight: 400;
  font-size: 22px;
}

.offers-country {
  margin: 0;
  color: white;
  font-size: 14px;
}

.offers-amount {
  margin: 0;
  color: white;
  font-size: 16px;
}

.offers-image {
  width: 100%;
  height: 100%;
}
